.title {
  font-size: 3rem;
  font-weight: bold;
  color: #222831;
  margin-top: 3rem;
}

body {
  background: #dddddd;
}

.allfields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}

.allfields2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.name {
  color: #30475e;
  font-size: 2rem;
}
.pass {
  color: #30475e;
  font-size: 2rem;
}

.inputName,
.inputLastname,
.inputEmail,
.inputAge,
.inputPassword,
.inputConfirmPassword {
  font-size: 1.2rem;
  width: 500px;
  background: white;
  border: none;
  padding: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.login,
.create {
  border: none;
  padding: 1rem;
  background: #447eb8;
  color: #dddddd;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.error {
  background: #f05454e8;
  color: #dddddd;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  padding: 0.5rem;
  margin-top: 4rem;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.error {
  animation-name: wiggle;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: initial;
  animation-direction: alternate;
}

.cc {
  border: none;
  padding: 1rem;
  background: #447eb8;
  color: #dddddd;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.back {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  padding: 1rem;
  background: #447eb8;
  color: #dddddd;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.currentUser {
  color: #447eb8;
}

.erotisi {
  font-size: 2rem;
  color: #222831;
  font-weight: bold;
}

.ans {
  border: none;
  padding: 1rem;
  background: #447eb8;
  color: #dddddd;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.quest {
  border: 2px solid #447eb8;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
  padding-top: 2rem;
  margin-top: 2rem;
}

.sub {
  border: none;
  padding: 1rem;
  background: #f05454;
  color: #dddddd;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.changeAnswer {
  border: none;
  padding: 1rem;
  background: #1c612783;
  color: #dddddd;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}
